---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus modi a quas dicta dolore sunt odit quia laboriosam. Totam cum adipisci quam, odit architecto amet, sit fugiat quod ratione in quo. Molestiae expedita, dolore aperiam nisi eum accusamus, obcaecati fugiat tenetur ab quia possimus! Repudiandae sunt esse, natus nesciunt magni maiores, et modi obcaecati tempora recusandae suscipit officia atque laborum officiis labore consequatur consequuntur accusantium excepturi ratione distinctio. At neque magni error, voluptatem excepturi architecto nostrum. Suscipit laudantium, nulla ad eius similique molestiae nihil ratione. Error molestias quibusdam neque sunt ut, quis libero quisquam non ex, dolore nihil tempora possimus?                
</Layout>