---
import Layout from "../layouts/Layout.astro";

//Componentes
import About from "../components/landing/About.astro";
import Feature from "../components/landing/Feature.astro";
import Hero from "../components/landing/Hero.astro";
import More from "../components/landing/More.astro";
import Project from "../components/landing/Project.astro";

---
<Layout title = "Pagina principal">
	<h1 class="text-4xl text-red-400">Home page</h1>
	<About/>
	<Feature/>
	<Hero/>
	<More/>
	<Project/>
</Layout>